.image-container {
    position: relative;
}
.base-image {
    width: 300px;
    height: auto;
    margin: auto;
}
#hiding-image {
    position: absolute;
    z-index: 5;
    left: 90px;
    max-width: 200px;
}